
  @import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Roboto:wght@100&display=swap');
  @import url('https://fonts.googleapis.com/css2? family=Delicious+Handrawn&family=Roboto:wght@100&display=swap');
  
  :root{
    --header-heigth: 3rem;
    --font-semi: 600;
  }


  :root{
    --first-color: #F1C40F;
    --second-color: #17202A;
  }

  :root{
    --body-font: 'Roboto', sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.9rem;
  }

  @media screen and (min-width: 768px) {
    :root{
        --big-font-size: 3.5rem;
        --h2-font-size: 2rem;
        --normal-font-size: 1rem;
      }
  }

  :root{
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
  }
  :root{
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
  }

  *,::before,::after{
    box-sizing: border-box;
  }

  html{
    scroll-behavior: smooth;
  }
  body{
    margin: var(--header-heigth) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--second-color);
  }
  h1,h2,p{
    margin: 0;
  }

  ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  img{
    max-width: 100%;
    height: auto;
    display: block;
  } 
  .section-title{
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-top: var(--mb-2);
    margin-bottom: var(--mb-4);
    text-align: center;
  }
  .section-title::after{
    position: absolute;
    content: "";
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color);
  }
  .section{
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  .bg-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
  }
  .l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(146, 162, 176, .15);
  }

  .nav{
    height: var(--header-heigth);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-semi);
    box-shadow: 0px 10px 9px 0px rgba(0,0,0,0.69);
  }

  @media screen and (max-width: 768px) {
    .nav__menu{
        position: fixed;
        top: var(--header-heigth);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: var(--second-color);
        transition: 0.5s;
    }
  }

  .nav__item{
    margin-bottom: var(--mb-4);

  }
  .nav__link{
    position: relative;
    color: #fff;
    text-decoration: none;

  }
  .nav__logo{
    font-size: 40px;
    text-decoration: none;
    font-weight: bolder;
    font-family: 'Delicious Handrawn', cursive;
  }
  .part{
    background-color: #F1C40F;
    color: white;
  }
  
  .nav__link:hover{
    position: relative;
  }
  .nav__link:hover::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 1.5rem;
    background-color: var(--first-color);
  }
  .nav__logo{
    color: var(--second-color);
  }
  .nav__toggle{
    color: var(--second-color);
    font-size: 1.5rem;
    cursor: pointer;
  }
  .active::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 1.5rem;
    background-color: var(--first-color);
  }
  .show{
    right: 0;
  }
  .home{
    height: calc(100vh - 3rem);
    row-gap: 1rem;
  }
  .home__data{
    align-self: center;
  }
  .home__title{
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-3);
  }
  .home__title-color{
    color: var(--first-color);
    font-weight: bold;
  }
  .home__social{
    display: flex;
    flex-direction: column;
  }
  .home__social-icon{
    width: max-content;
    margin-bottom: var(--mb-2);
    font-size: 1.9rem;
    color: var(--second-color);
  }
  .home__social-icons{
    width: max-content;
    margin-bottom: var(--mb-2);
    font-size: 1.5rem;
    color: #fff;
  }
  .home__social-icons:hover{
    color: var(--first-color)
  }
  .home__social-icon:hover{
    color: var(--first-color)
  }
  .home__img{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 250px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .home__img img{
    border-radius: 30% 35% 46% 30%;
  }
  .button{
    display: inline-block;
    background-color: var(--first-color);
    color: white;
    padding: 0.5rem 1rem;
    font-weight: var(--font-semi);
    border-radius: 0.5rem;
  }
  .button:hover{
    box-shadow: 0 10px 36px rgba(0, 0, 0,.15);
  }
  .about__container{
    row-gap: 1rem;
    text-align: center;
  }
  .about__subtitle{
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  .about__img{
    justify-self: center;
  }
  .about__img img{
    width: 200px;
    border-radius: .5rem;
  }
  .skills__container{
    row-gap: 1rem;
    text-align: center;
  }
  .skills__subtitile{
    margin-bottom: 1rem;
  }
  .skills__text{
    margin-bottom: var(--mb-2);
  }
  .skills__data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: var(--font-semi);
    padding: .5rem 1rem;
    margin-bottom: var(--mb-2);
    border-radius: .5rem;
    box-shadow: 0 4px 25px rgba(14, 36, 49, .15);
  }
  .skills__img{
    border-radius: .5rem;
  }
  .skill__icon-html{
    font-size: 2rem;
    margin-right: var(--mb-3);
    color: #F0155B;
  }
  .skill__icon-css{
    font-size: 2rem;
    margin-right: var(--mb-3);
    color: #15BBF0;
  }
  .skill__icon-js{
    font-size: 2rem;
    margin-right: var(--mb-3);
    color: var(--first-color);
  }
  .skill__icon-bstp{
    font-size: 2rem;
    margin-right: var(--mb-3);
    color: #28187E;
  }
  .skill__icon-ui{
    font-size: 2rem;
    margin-right: var(--mb-3);
    color: #BF183B;
  }
  .skill__icon-py{
    font-size: 2rem;
    margin-right: var(--mb-3);
    color: #085AD9;
  }
  .skill__icon-la{
    font-size: 2rem;
    margin-right: var(--mb-3);
  }
  .skill__icon-flu{
    font-size: 2rem;
    margin-right: var(--mb-3);
    color: #21AEF4;
  }
  .skills__names{
    display: flex;
    align-items: center;
  }
  .skills__bar-html{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #F0155B;
    height: .25rem;
    border-radius: .5rem;
    z-index: var(--z-back);
  }
  .skills__bar-css{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #15BBF0;
    height: .25rem;
    border-radius: .5rem;
    z-index: var(--z-back);
  }
  .skills__bar-js{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--first-color);
    height: .25rem;
    border-radius: .5rem;
    z-index: var(--z-back);
  }
  .skills__bar-bstp{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #28187E;
    height: .25rem;
    border-radius: .5rem;
    z-index: var(--z-back);
  }
  .skills__bar-ui{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #BF183B;
    height: .25rem;
    border-radius: .5rem;
    z-index: var(--z-back);
  }
  .skills__bar-py{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #085AD9;
    height: .25rem;
    border-radius: .5rem;
    z-index: var(--z-back);
  }
  .skills__bar-la{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #cc1e1e;
    height: .25rem;
    border-radius: .5rem;
    z-index: var(--z-back);
  }
  .skills__bar-flu{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #21AEF4;
    height: .25rem;
    border-radius: .5rem;
    z-index: var(--z-back);
  }
  .skills__html{
    width: 78%;
  }
  .skills__css{
    width: 62%;
  }
  .skills__js{
    width: 31%;
  }
  .skills__bstp{
    width: 68%;
  }
  .skills__ui{
    width: 86%;
  }
  .skills__py{
    width: 46%;
  }
  .skills__la{
    width: 46%;
  }
  .skills__flu{
    width: 22%;
  }

  .work{
    text-align: center;
  }
  .work__container{
    row-gap: 1rem;
  }
  .work__img{
    box-shadow: 0 4px 25px black;
  }
  .work__img img{
    transition: 1s;
  }

  .contact__input{
    width: 100%;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi);
    padding: 1rem;
    border-radius: .5rem;
    border: 1.5px solid var(--second-color);
    outline: none;
    margin-bottom: var(--mb-4);
  }
  .contact__button{
    display: block;
    border: none;
    outline: none;
    font-size: var(--normal-font-size);
    cursor: pointer;
    margin-left: auto;
  }

  .footer{
    background-color: var(--second-color);
    color: #fff;
    text-align: center;
    font-weight: var(--font-semi);
    padding: 2rem 0;
  }
  .footer__title{
    font-size: 1rem;
    margin-bottom: var(--mb-3);
  }
  .footer__social{
    margin-bottom: var(--mb-2);
  }
  .footer__icon{
    font-size: 1.5rem;
    color: white;
    margin: 0 var(--mb-1);
  }
  @media screen and (min-width: 768px) {
    body{
      margin: 0;
    }
    .section{
      padding-top: 4rem;
      padding-bottom: 3rem;
    }
    .section-title{
      margin-bottom: var(--normal-font-size);
    }
    .section-title::after{
      width: 80px;
      top: 3rem;
    }
    .nav{
      height: calc(var(--header-heigth) + 1rem);
      justify-content: space-around;
    }
    .nav__list{
      display: flex;
      padding-top: 0;
    }
    .nav__item{
      margin-left: var(--mb-6);
      margin-bottom: 0;
    }
    .nav__toggle{
      display: none;
    }
    .nav__link{
      color: var(--second-color);
    }
    .home{
      height: 100vh;
    }
    .home__data{
      align-self: center;
    }
    .home__social{
      padding-top: 0;
      padding-bottom: 15rem;
      flex-direction: row;
      align-self: flex-end;
    }
    .home__social-icon{
      font-size: 2.5rem;
      margin-bottom: 0;
      margin-right: var(--mb-4);
    }
    .home__img{
      width: 450px;
      bottom: 5%;
    }
    .about__container {
      grid-template-columns: repeat(2,1fr);
      align-items: center;
      text-align: initial;
    }
    .skills__container{
      grid-template-columns: repeat(2,1fr);
      align-items: center;
      text-align: initial;
    }
    .skills__data{
      width: 80%;
      align-items: center;
      margin-left: 200px;
    }
    .contain{
      display: flex;
    }
    .skills__img{
      display: none;
    }
    .about__img img{
      width: 320px;
    }
    .about__subtitle{
      font-size: 2rem;
    }
    .about__text{
      font-size: 1.5rem;
    }
    .contact__form{
      width: 400px;
    }
    .contact__container{
      padding-top: 2.5rem;
      justify-items: center;
    }
    .img-f{
      width: 400px;
    }
  }